openapi: 3.1.0
info:
  title: VARAi Platform API
  description: |
    # VARAi Platform API Documentation
    
    The VARAi Platform API provides programmatic access to VARAi's powerful eyewear AI capabilities, 
    including virtual try-on, frame recommendations, style analysis, and more.
    
    This API documentation is designed to help developers integrate VARAi's capabilities into their 
    applications, websites, and services.
    
    ## Key Features
    
    - **Frame Recommendations**: Get personalized eyewear recommendations based on face shape, style preferences, and more
    - **Virtual Try-On**: Visualize how frames look on a user's face
    - **Face Analysis**: Analyze facial features to determine face shape and optimal frame dimensions
    - **User Management**: Create and manage user profiles and preferences
    - **Analytics**: Access insights about user interactions and preferences
    
    ## Getting Started
    
    To get started with the VARAi API, you'll need to:
    
    1. Create a developer account at [developer.varai.ai](https://developer.varai.ai)
    2. Generate an API key from your developer dashboard
    3. Use the API key to authenticate your requests
    
    For more information, see the [Getting Started Guide](https://docs.varai.ai/getting-started).
  version: 1.0.0
  contact:
    name: VARAi Developer Support
    email: developers@varai.ai
    url: https://developer.varai.ai/support
  license:
    name: VARAi API License
    url: https://developer.varai.ai/license
  termsOfService: https://developer.varai.ai/terms

servers:
  - url: https://api.varai.ai/v1
    description: Production server
  - url: https://api-staging.varai.ai/v1
    description: Staging server
  - url: http://localhost:5000/api/v1
    description: Development server

tags:
  - name: Authentication
    description: Endpoints for authentication and authorization
  - name: Frames
    description: Endpoints for managing and querying eyewear frames
  - name: Recommendations
    description: Endpoints for generating personalized frame recommendations
  - name: Users
    description: Endpoints for managing user profiles and preferences
  - name: Analytics
    description: Endpoints for accessing analytics data
  - name: Admin
    description: Administrative endpoints for platform management
  - name: Webhooks
    description: Endpoints for managing webhook integrations

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key authentication
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT authentication for user-specific operations
    OAuth2:
      type: oauth2
      flows:
        authorizationCode:
          authorizationUrl: https://auth.varai.ai/oauth/authorize
          tokenUrl: https://auth.varai.ai/oauth/token
          scopes:
            frames:read: Read access to frame data
            frames:write: Write access to frame data
            recommendations:read: Read access to recommendation data
            recommendations:write: Write access to recommendation data
            users:read: Read access to user data
            users:write: Write access to user data
            analytics:read: Read access to analytics data
  schemas:
    $ref: './schemas.yaml'

paths:
  $ref: './paths.yaml'

security:
  - ApiKeyAuth: []
  - BearerAuth: []